<%- include('components/navbar') %>
    <div class="container mt-4">
        <div class="jumbotron ">
            <h1 class="display-4">NODE MYSQL LOGIN!!</h1>
            <p class="lead">This is a simple login and register system using nodeJS, expressJS and MySQL created by
                Developer MD Habibul Hasan.</p>
            <hr class="my-4">
            <p>Interested to know more about me ? </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://github.com/developerep2019/" target="_blank"
                    role="button">About Me</a>
            </p>
        </div>
    </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    </html>