<%- include('components/navbar') %>
    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="https://lh3.googleusercontent.com/proxy/5Xi-oprfCkj0YbP_Dkv0hpzGA4DkBeQv3jB77I1n0lx7TzZzDRvTseu0PuTq64uTChNwyAeUf8aq3GorevB-eohyE_G7-XG9doQZXkDkDY9zR3RLl_aPTihcMVt7QA8h5j2xThh7jSfsDg"
                            alt="user.jpg" class="avatar">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= user.name %>
                        </h5>
                        <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
                            minima
                            velit? Veniam veritatis enim possimus nemo perferendis atque iusto consectetur?</p>
                        <a href="#" class="btn btn-primary">
                            <%= user.email %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card text-center">
                    <div class="card-header">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hey <%= user.name %>, Welcome Back</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
                            explicabo!</p>
                        <a href="#" class="btn btn-primary">Go Somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        Node-MySQL Project
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/pw.js"></script>

    </html>